@font-face {
    font-family: 'Thryn';
    src: url(../fonts/thryn.ttf) format('truetype');
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(../fonts/SanFranciscoDisplay-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Pangolin-Regular';
    src: url(../fonts/Pangolin-Regular.ttf) format('truetype');
}




