h1 {
    margin-bottom: 60px;
}

.content_policy li {
    margin-bottom: 30px;
}

.content_policy span.title {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 17px;
}

.content_policy br {
    margin: 20px 0;
}

.content_policy p {
    font-size: 15px;
    color: #525252;
    line-height: 24px;
}

ul li {
    list-style: none;
}

ol li {
    list-style: circle;
    margin-bottom: 0 !important;
    margin-left: 20px;
}

